---
    subject: Cezeta - Please activate your account
---

@using System.Text.Json
@using CZ.Worker.EmailSender.TemplateDomain.ServiceBus
@using CZ.Worker.EmailSender.TemplateDomain.TemplateDataPayloads

@{ ProfileData data = JsonSerializer.Deserialize<ProfileData>(Model.Content.Data); }

<row>
    <columns>
        <spacer size="16"></spacer>

        <p class="text-center">
            Hola @data.FullName
        </p>

        <spacer size="16"></spacer>

        <p class="text-center">
            Por favor, haga click en el siguiente enlace para activar su cuenta.
        </p>

        <spacer size="16"></spacer>

        <center>
            <button href="https://cezeta1.github.io" class="button-primary">Activar</button>
        </center>
    </columns>
</row>

<spacer size="8"></spacer>

@await Html.PartialAsync($"./Shared/NeedHelp/es-NeedHelp.cshtml")

<spacer size="8"></spacer>


