@await Html.PartialAsync($"./_HorizontalLine.cshtml")

<spacer size="8"></spacer>

<row>
    <columns>
        <h5 class="text-center"><b>Need Help?</b></h5>
    </columns>
</row>

<row>
    <columns>
        <p class="text-center">
            If you need any assistance, contact us on 
            <a href="mailto:julian.czerweny@gmail.com">julian.czerweny@gmail.com</a>
        </p>
        <p class="text-center">We are here to help you ;)</p>
        <p class="text-center">Warm regards</p>
        <p class="text-center">Cezeta</p>
    </columns>
</row>

<spacer size="8"></spacer>

@await Html.PartialAsync($"./_HorizontalLine.cshtml")