
<link rel="stylesheet" type="text/css" href="footer.css" />

<container class="footer" align="center">

    <spacer size="16"></spacer>

    <row>
        <columns small="6" large="3">
            <center>
                <p class="address">
                    Cezeta
                </p>
            </center>
        </columns>
    </row>
</container>

<container class="footer">

    <spacer size="16"></spacer>

    <row>
        <columns small="12" large="12">
            <wrapper class="disclaimer">
                <p>
                    The information contained in this e-mail message and any accompanying
                    files is or may be confidential. If you are not the intended recipient,
                    any use, dissemination, reliance, forwarding, printing or copying of
                    this e-mail or any attached files is unauthorised. This e-mail is
                    subject to copyright. No part of it should be reproduced, adapted or
                    communicated without the written consent of the copyright owner. If you
                    have received this e-mail in error, please advise the sender immediately
                    by return e-mail, or telephone and delete all copies. We do not
                    guarantee the accuracy or completeness of any information contained in
                    this e-mail or attached files. Internet communications are not secure,
                    therefore we does not accept legal responsibility for the contents
                    of this message or attached files.
                </p>
            </wrapper>
        </columns>
    </row>

    <spacer size="8"></spacer>

    <row>
        <columns small="2" large="4">
        </columns>

        <columns small="2" large="1">
            <center>
                @* <a href="https://www.facebook.com/"> *@
                @*     <img class="icon" src="https://assets/img/email-portal/facebook.png" alt="facebook" width="32" height="32" /> *@
                @* </a> *@
            </center>
        </columns>

        <columns small="2" large="1">
            <center>
                @* <a href="https://twitter.com/lang=en"> *@
                @*     <img class="icon" src="https:/assets/img/email-portal/twitter.png" alt="twitter" width="32" height="32" /> *@
                @* </a> *@
            </center>
        </columns>

        <columns small="2" large="1">
            <center>
                @* <a href="https://au.linkedin.com/company"> *@
                @*     <img class="icon" src="https://assets/img/email-portal/linkedin.png" alt="linkedin" width="32" height="32"> *@
                @* </a> *@
            </center>
        </columns>
        
        <columns small="2" large="1">
            <center data-parsed>
                @* <a href="https://www.instagram.com/"> *@
                @*     <img class="icon" src="https://assets/img/email-portal/instagram.png" alt="instagram" width="32" height="32"> *@
                @* </a> *@
            </center>
        </columns>

        <columns small="2" large="4">
        </columns>
    </row>

    <spacer size="32"></spacer>

</container>